#cliente-form > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
  width: 300px;
}

#clientes-table {
  width: 100%;
  max-width: 800px;
}

#clientes-table,
#clientes-table th,
#clientes-table td {
  text-align: center;
  border: 1px solid;
  border-collapse: collapse;
}
